Tools/Connected Services/OseBeta/billService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.sunat.gob.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="billService" targetNamespace="http://service.sunat.gob.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://demoose.thefactoryhka.com.pe:80/ol-ti-itcpfegem/billService?xsd=1" namespace="http://service.sunat.gob.pe" />
    </xsd:schema>
  </types>
  <message name="getStatus">
    <part name="ticket" type="xsd:string" />
  </message>
  <message name="getStatusResponse">
    <part name="status" type="tns:statusResponse" />
  </message>
  <message name="sendSummary">
    <part name="fileName" type="xsd:string" />
    <part name="contentFile" type="xsd:base64Binary" />
  </message>
  <message name="sendSummaryResponse">
    <part name="ticket" type="xsd:string" />
  </message>
  <message name="sendBill">
    <part name="fileName" type="xsd:string" />
    <part name="contentFile" type="xsd:base64Binary" />
  </message>
  <message name="sendBillResponse">
    <part name="applicationResponse" type="xsd:base64Binary" />
  </message>
  <message name="getStatusCdr">
    <part name="rucComprobante" type="xsd:string" />
    <part name="tipoComprobante" type="xsd:string" />
    <part name="serieComprobante" type="xsd:string" />
    <part name="numeroComprobante" type="xsd:string" />
  </message>
  <message name="getStatusCdrResponse">
    <part name="applicationResponse" type="tns:statusResponse" />
  </message>
  <message name="sendPack">
    <part name="fileName" type="xsd:string" />
    <part name="contentFile" type="xsd:base64Binary" />
  </message>
  <message name="sendPackResponse">
    <part name="ticket" type="xsd:string" />
  </message>
  <portType name="billService">
    <operation name="getStatus">
      <input wsam:Action="urn:getStatus" message="tns:getStatus" />
      <output wsam:Action="http://service.sunat.gob.pe/billService/getStatusResponse" message="tns:getStatusResponse" />
    </operation>
    <operation name="sendSummary" parameterOrder="fileName contentFile">
      <input wsam:Action="urn:sendSummary" message="tns:sendSummary" />
      <output wsam:Action="http://service.sunat.gob.pe/billService/sendSummaryResponse" message="tns:sendSummaryResponse" />
    </operation>
    <operation name="sendBill" parameterOrder="fileName contentFile">
      <input wsam:Action="urn:sendBill" message="tns:sendBill" />
      <output wsam:Action="http://service.sunat.gob.pe/billService/sendBillResponse" message="tns:sendBillResponse" />
    </operation>
    <operation name="getStatusCdr" parameterOrder="rucComprobante tipoComprobante serieComprobante numeroComprobante">
      <input wsam:Action="urn:getStatusCdr" message="tns:getStatusCdr" />
      <output wsam:Action="http://service.sunat.gob.pe/billService/getStatusCdrResponse" message="tns:getStatusCdrResponse" />
    </operation>
    <operation name="sendPack" parameterOrder="fileName contentFile">
      <input wsam:Action="urn:sendPack" message="tns:sendPack" />
      <output wsam:Action="http://service.sunat.gob.pe/billService/sendPackResponse" message="tns:sendPackResponse" />
    </operation>
  </portType>
  <binding name="BillServicePortBinding" type="tns:billService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="getStatus">
      <soap:operation soapAction="urn:getStatus" />
      <input>
        <soap:body use="literal" namespace="http://service.sunat.gob.pe" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://service.sunat.gob.pe" />
      </output>
    </operation>
    <operation name="sendSummary">
      <soap:operation soapAction="urn:sendSummary" />
      <input>
        <soap:body use="literal" namespace="http://service.sunat.gob.pe" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://service.sunat.gob.pe" />
      </output>
    </operation>
    <operation name="sendBill">
      <soap:operation soapAction="urn:sendBill" />
      <input>
        <soap:body use="literal" namespace="http://service.sunat.gob.pe" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://service.sunat.gob.pe" />
      </output>
    </operation>
    <operation name="getStatusCdr">
      <soap:operation soapAction="urn:getStatusCdr" />
      <input>
        <soap:body use="literal" namespace="http://service.sunat.gob.pe" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://service.sunat.gob.pe" />
      </output>
    </operation>
    <operation name="sendPack">
      <soap:operation soapAction="urn:sendPack" />
      <input>
        <soap:body use="literal" namespace="http://service.sunat.gob.pe" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://service.sunat.gob.pe" />
      </output>
    </operation>
  </binding>
  <service name="billService">
    <port name="BillServicePort" binding="tns:BillServicePortBinding">
      <soap:address location="http://demoose.thefactoryhka.com.pe:80/ol-ti-itcpfegem/billService" />
    </port>
  </service>
</definitions>