Tools/Connected Services/OseBeta/billService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://service.sunat.gob.pe" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="statusResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="content" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="statusCode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>