Tools/Connected Services/PSE21/Service5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ListadoDocumentos.Response" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ListadoDocumentos.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Response.ResponseGeneraListado">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaExpiracion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lote" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ticket" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Response.ResponseGeneraListado" nillable="true" type="tns:Response.ResponseGeneraListado" />
  <xs:complexType name="Response.RespuestaDescargarListado">
    <xs:sequence>
      <xs:element minOccurs="0" name="archivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="loteDescargado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Response.RespuestaDescargarListado" nillable="true" type="tns:Response.RespuestaDescargarListado" />
  <xs:complexType name="Response.ResponseCancelarListado">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Response.ResponseCancelarListado" nillable="true" type="tns:Response.ResponseCancelarListado" />
</xs:schema>