Tools/Connected Services/PSE21/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SummaryPSE" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SummaryPSE" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Summary">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaReferencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="identificador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lineasDocumento" nillable="true" type="tns:ArrayOflineaDocumento" />
      <xs:element minOccurs="0" name="razonSocial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Summary" nillable="true" type="tns:Summary" />
  <xs:complexType name="ArrayOflineaDocumento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="lineaDocumento" nillable="true" type="tns:lineaDocumento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOflineaDocumento" nillable="true" type="tns:ArrayOflineaDocumento" />
  <xs:complexType name="lineaDocumento">
    <xs:sequence>
      <xs:element minOccurs="0" name="adquirienteNumDoc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="adquirienteTipoDoc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigoOperacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="importeTotal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="importeTotalVenta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="impuesto" nillable="true" type="tns:TaxLine" />
      <xs:element minOccurs="0" name="numeracion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numeroOrden" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="percepcion" nillable="true" type="tns:PerceptionSummary" />
      <xs:element minOccurs="0" name="tipoDoc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoMoneda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoSerieCorrelativoDocModifica" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="totalExoneradas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="totalExportacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="totalGratuitas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="totalGravadas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="totalInafectadas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="totalOtrosCargos" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="lineaDocumento" nillable="true" type="tns:lineaDocumento" />
  <xs:complexType name="TaxLine">
    <xs:sequence>
      <xs:element minOccurs="0" name="totalICBPER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="totalIGV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="totalISC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="totalIVAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="totalOtrosTributos" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaxLine" nillable="true" type="tns:TaxLine" />
  <xs:complexType name="PerceptionSummary">
    <xs:sequence>
      <xs:element minOccurs="0" name="baseImponiblePercepcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="montoACobrarPercepcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="montoPercepcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="regimenPercepcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tasaPercepcion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PerceptionSummary" nillable="true" type="tns:PerceptionSummary" />
</xs:schema>