Tools/Connected Services/PSE21/Service6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://int.thefactoryhka.com.pe/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PeruService.Response" />
  <xs:import schemaLocation="http://int.thefactoryhka.com.pe/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PeruService.Classes" />
  <xs:import schemaLocation="http://int.thefactoryhka.com.pe/Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SummaryPSE" />
  <xs:import schemaLocation="http://int.thefactoryhka.com.pe/Service.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/PeruService" />
  <xs:import schemaLocation="http://int.thefactoryhka.com.pe/Service.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/LibraryOBJDAE" />
  <xs:import schemaLocation="http://int.thefactoryhka.com.pe/Service.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/ResponseDAE" />
  <xs:import schemaLocation="http://int.thefactoryhka.com.pe/Service.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/ListadoDocumentos.Response" />
  <xs:element name="CargarCertificado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="certificadoBase64" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="certificadoClaveBase64" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargarCertificadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PeruService.Response" minOccurs="0" name="CargarCertificadoResult" nillable="true" type="q1:Respuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComunicacionBaja">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="motivo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComunicacionBajaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PeruService.Response" minOccurs="0" name="ComunicacionBajaResult" nillable="true" type="q2:Respuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DescargaArchivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoArchivo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DescargaArchivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PeruService.Response" minOccurs="0" name="DescargaArchivoResult" nillable="true" type="q3:Respuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Enviar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PeruService.Classes" minOccurs="0" name="documentoElectronico" nillable="true" type="q4:DocumentoElectronico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PeruService.Response" minOccurs="0" name="EnviarResult" nillable="true" type="q5:RespuestaEnviar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarResumen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SummaryPSE" minOccurs="0" name="resumen" nillable="true" type="q6:Summary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarResumenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PeruService.Response" minOccurs="0" name="EnviarResumenResult" nillable="true" type="q7:RespuestaEnviar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstatusDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstatusDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PeruService.Response" minOccurs="0" name="EstatusDocumentoResult" nillable="true" type="q8:Respuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FoliosRestantes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FoliosRestantesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PeruService.Response" minOccurs="0" name="FoliosRestantesResult" nillable="true" type="q9:Respuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuiasRemision">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/PeruService.Classes" minOccurs="0" name="documentoElectronico" nillable="true" type="q10:GuiaRemision" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuiasRemisionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/PeruService.Response" minOccurs="0" name="GuiasRemisionResult" nillable="true" type="q11:RespuestaGuiaRemision" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetencionPercepcion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="layout" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetencionPercepcionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/PeruService.Response" minOccurs="0" name="RetencionPercepcionResult" nillable="true" type="q12:RespuestaComprobantes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reversion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="motivo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReversionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/PeruService.Response" minOccurs="0" name="ReversionResult" nillable="true" type="q13:Respuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidaAcceso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidaAccesoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidaAccesoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OperacionesEmisores">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/PeruService.Classes" minOccurs="0" name="Emisores" nillable="true" type="q14:ArrayOfIntegracionModel" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/PeruService" minOccurs="0" name="operacion" type="q15:OperacionesEmisores" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OperacionesEmisoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/PeruService.Response" minOccurs="0" name="OperacionesEmisoresResult" nillable="true" type="q16:RespuestaIntegracion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDAE">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/LibraryOBJDAE" minOccurs="0" name="DAE" nillable="true" type="q17:Documento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarDAEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ResponseDAE" minOccurs="0" name="EnviarDAEResult" nillable="true" type="q18:ObjectResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeneraListado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaInicio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaFin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipDoc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeneraListadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ListadoDocumentos.Response" minOccurs="0" name="GeneraListadoResult" nillable="true" type="q19:Response.ResponseGeneraListado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DescargarListado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lote" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ticket" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DescargarListadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ListadoDocumentos.Response" minOccurs="0" name="DescargarListadoResult" nillable="true" type="q20:Response.RespuestaDescargarListado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarListado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoDoc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarListadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ListadoDocumentos.Response" minOccurs="0" name="CancelarListadoResult" nillable="true" type="q21:Response.ResponseCancelarListado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>