Tools/Connected Services/PSE21/Service7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ResponseDAE" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ResponseDAE" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ObjectResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="xs:int" />
      <xs:element minOccurs="0" name="estatus" type="xs:boolean" />
      <xs:element minOccurs="0" name="idtransaccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numeracion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjectResponse" nillable="true" type="tns:ObjectResponse" />
</xs:schema>