Tools/Web References/Faby3/AppTools1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Tools" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Tools" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="serviceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="errorCode" type="xs:int" />
      <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="process" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="serviceResponse" nillable="true" type="tns:serviceResponse" />
</xs:schema>